@import 'node_modules/ol/ol.css';

html,
body {
    margin: 0;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    display: none;
}

.history {
    position: absolute;
    margin-bottom: 30px;
    overflow: auto;
    margin-top: 150px;
    height: 50%;
}

.box img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.toggle-btn {
    position: fixed;
    display: block;
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
}

#category-container {
    margin-bottom: 20px;
    position: absolute;
    bottom: 110px;
    font-size: 25px;
    margin-left: 31%;
    display: -webkit-inline-box;
    flex-direction: column;
    justify-content: space-between;
}

#category-container>div {
    transform: translateX(-50%);
    background-color: #555;
    color: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 16px;
    transition: left 0.1s, transform 0.1s;
    cursor: pointer;
    margin: 10px 60px;
}

.category-label.active {
    background-color: white !important;
    color: black !important;
}

.category-label:focus {
    background-color: white !important;
    color: black !important;
}

#message {
    position: absolute;
    color: red;
    bottom: 110px;
    font-size: 25px;
    margin-left: 31%;
}

/* Change border color and placeholder color on focus */
#search-bar:focus {
    border-color: #4caf50;
}

/* Change placeholder color */
#search-bar::placeholder {
    color: #4caf50;
    opacity: 1;
    /* Ensure the color applies with full opacity */
    padding: 10px;
}

/* For Firefox */
#search-bar:-moz-placeholder {
    color: #4caf50;
    opacity: 1;
}

/* For Internet Explorer */
#search-bar::-ms-input-placeholder {
    color: #4caf50;
    opacity: 1;
}

#year-range {
    width: 50%;
    margin: auto;
    text-align: center;
    position: absolute;
    font-size: 16px;
    margin-left: 30%;
    bottom: 25px;
    border-radius: 10px;
    -webkit-appearance: none;
    /* Override default styling */
}

#year-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    /* Increase the height of the track */
    cursor: pointer;
    animate: 0.2s;
    background: #4caf50;
    /* Change the color of the track */
    border-radius: 10px;
}

#year-range::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 25px;
    /* Increase the size of the thumb */
    width: 25px;
    /* Increase the size of the thumb */
    border-radius: 50%;
    background: #ffffff;
    /* Change the color of the thumb */
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
    /* Align the thumb with the track */
}

#year-range:focus {
    outline: none;
}

#year-range:focus::-webkit-slider-runnable-track {
    background: #4caf50;
    /* Change the color when focused */
}

#year-range::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: #4caf50;
    border-radius: 10px;
}

#year-range::-moz-range-thumb {
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

#year-range::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#year-range::-ms-fill-lower {
    background: #4caf50;
    border-radius: 10px;
}

#year-range::-ms-fill-upper {
    background: #4caf50;
    border-radius: 10px;
}

#year-range::-ms-thumb {
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

#year-range:focus::-ms-fill-lower {
    background: #4caf50;
}

#year-range:focus::-ms-fill-upper {
    background: #4caf50;
}

.slider-label.active {
    background-color: white;
    color: black;
}

.slider-label {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    white-space: nowrap;
    transition: left 0.1s, transform 0.1s;
    cursor: pointer;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-bar:focus {
    border-color: #4caf50;
}

.search-bar::placeholder {
    color: #4caf50;
    opacity: 1;
}

.autocomplete-container {
    position: relative;
    width: 50%;
    margin: auto;
}

.autocomplete-list {
    position: absolute;
    border-radius: 5px;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    width: 106%;
}

.autocomplete-list div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #4caf50;
}

.autocomplete-list div:hover {
    background-color: #e9e9e9;
}

.legend {
    margin-top: 20px;
    left: 30px;
    position: absolute;
}

.legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend div span {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.legend .major {
    background-color: #aa0f0f;
}

.legend .large {
    background-color: #ff1604;
}

.legend .medium {
    background-color: #ff7f27;
}

.legend .small {
    background-color: #ede100;
}